<!-- This file is managed by Tracepaper -->
<template x-component="WerkCaseBijTraining">
    <div x-import="basic-form;tables">

        <!-- The command object -->
        <draftsman-mutation command="WerkCaseBijTraining" x-include="/prepared-statements/commands/WerkCaseBijTraining.txt" authenticated>
        </draftsman-mutation>

        <!-- The form definition -->
        <div  style="display:none;" id="WerkCaseBijTraining"
              x-include="/form-definitions/WerkCaseBijTraining.json"></div>

        <!-- The trace table -->
        <ui-trace-table></ui-trace-table>

        <!-- The form -->
        <ui-basic-form alias="WerkCaseBijTraining"></ui-basic-form>

        <draftsman-trace command="WerkCaseBijTraining"
              status="success"
              @trace="
                setTimeout(Draftsman.empty_track_and_trace_log,5000);
                $dispatch('setdata', { command: 'WerkCaseBijTraining', data: {} });">
        </draftsman-trace>
    </div>
</template>